.profile__edit-btn {
	padding: 12px 12px;
	border: 1px solid #fff;
	background-image: url('../../../images/button/edit-btn.svg');
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: .2s;
}

.profile__edit-btn:hover {
	opacity: .6;
}

@media screen and (max-width: 582px) { 
	.profile__edit-btn {
		padding: 9px 9px;
	}
}