@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./__button/popup__button.css);
@import url(./__image-title/popup__image-title.css);
@import url(./__preview/popup__preview.css);

.popup {
  display: flex;
	width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
