.element__btn {
	width: 20px;
	height: 18px;
	background-image: url('../../../images/button/like.svg');
	object-fit: cover;
	background-color: transparent;
	border: none;
  margin: 0 15px 3px 0;
  cursor: pointer;
  transition: .2s;
  box-shadow: none;
}

.element__btn:hover {
	opacity: .6;
}