.element__btn {
	width: 20px;
	height: 18px;
	background-image: url('../../../images/button/like.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	border: none;
  margin: auto 15px;
  cursor: pointer;
  transition: .2s;
}

.element__btn:hover {
	opacity: .6;
}