.popup__input {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	width: 99%;
	height: 27px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:first-of-type {
	margin-bottom: 35px;
}
