@import url(__avatar/profile__avatar.css);
@import url(__image/profile__image.css);
@import url(__avatar/_change/profile__avatar_change.css);
@import url(__info/profile__info.css);
@import url(__edit-form/profile__edit-form.css);
@import url(__name/profile__name.css);
@import url(__description/profile__description.css);
@import url(__edit-btn/profile__edit-btn.css);
@import url(__add-btn/profile__add-btn.css);

.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-top: 40px;
	align-items: center;
}

@media screen and (max-width: 890px) {
	.profile {
		flex-direction: column;
	}
}