.profile__name {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 17px;
  overflow: hidden;
  max-width: 350px;
}

@media screen and (max-width: 582px) {
	.profile__name {
		font-size: 27px;
	}
}