.elements__list {
	padding: 0;
	column-width: 276px;
	column-gap: 10px;
	max-width: 882px;
	margin: 50px auto;
}

/* @media screen and (max-width: 890px) {
	.elements__list {
		grid-template-columns: repeat(auto-fit, 282px);
	}
}

@media screen and (max-width: 581px) {
	.elements__list {
		grid-template-columns: repeat(auto-fit, 282px);
  	margin: 0 auto;
	}
} 
 */


