.elements__list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto-fit, 361px);
	grid-gap: 21px 18px;
	margin: 0;
  padding: 0;
}

@media screen and (max-width: 890px) {
	.elements__list {
		grid-template-columns: repeat(2, 282px);
	}
}

@media screen and (max-width: 581px) {
	.elements__list {
		grid-template-columns: repeat(1, 1fr);
  	max-width: 282px;
  	margin: 0 auto;
	}
} 